workflows:
  version: 2
  node-multi-build:
    jobs:
      - node-latest

aliases:
  - &restore-node-modules-cache
    keys:
      - v1-yarn-deps-{{ checksum "yarn.lock" }}

  - &restore-yarn-cache
    keys:
      - v1-yarn-cache

  - &save-node-modules-cache
    paths:
      - node_modules
    key: v1-yarn-deps-{{ checksum "yarn.lock" }}

  - &save-yarn-cache
    paths:
      - ~/.yarn-cache
    key: v1-yarn-cache

version: 2
jobs:
  base: &base
    docker:
      - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache: *restore-yarn-cache
      - restore_cache: *restore-node-modules-cache
      - run: yarn install
      - run: yarn lerna bootstrap
      - save_cache: *save-node-modules-cache
      - save_cache: *save-yarn-cache
      - run: yarn run lint --quiet
      - run: ./node_modules/.bin/tsc -b
      - run: ./node_modules/.bin/lerna run cover -- --runInBand

  node-latest:
    <<: *base
    docker:
      - image: node:latest
